<div class="contact-card-container">
    <H3>Liên Hệ Người Dùng</H3>
    <div class="input-group w-50">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Tìm kiếm..." 
        [(ngModel)]="searchTerm"  
        (input)="searchContacts()"  
      />
      <button class="btn btn-outline-primary" (click)="searchContacts()"> <!-- Nút tìm kiếm -->
        <i class="bi bi-search"></i> Tìm kiếm
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Họ tên</th>
          <th>Email</th>
          <th>Nội dung</th>
          <th>Thời gian gửi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts$ | async">
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.message }}</td>
          <td>{{ contact.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  