<mat-card class="cardWithShadow overflow-hidden">
    <mat-card-content>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <h3 class="card-title fw-bold">Thống kê</h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-hover">
                            <div class="box bg-cyan text-center text-white">
                                <h1 class="font-light"><i class="mdi mdi-account-multiple"></i> 150</h1>
                                <h6>Người dùng</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center text-white">
                                <h1 class="font-light"><i class="mdi mdi-receipt"></i> 20</h1>
                                <h6>Loại sản phẩm</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center text-white">
                                <h1 class="font-light"><i class="mdi mdi-coffee"></i> 500</h1>
                                <h6>Sản phẩm</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center text-white">
                                <h1 class="font-light"><i class="mdi mdi-comment-processing"></i> 1200</h1>
                                <h6>Bình luận</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>