form {
    height: 40px;
}

form button {
    width: 150px;
    color: #343a40;
}

form button :hover {
    background-color: blue;
}

li {
    font-weight: bolder;
}

li :hover {
    color: blue;
}

.black-border {
    border-color: black !important;
}

.nav-item a i {
    color: #343a40;
    font-size: 30px;
    margin: 10px;
}
.navbar{
    height: 100px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; 
}
