<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div *ngIf="selectedOrder" class="card">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Thông tin khách hàng</h3>
                  <form>
                    <div class="form">
                      <label class="form-label fw-bold">ID Đơn hàng:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.id" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Họ và Tên:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.name" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Số điện thoại:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.phone" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Email:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.email" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Địa chỉ:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.address" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Phương thức thanh toán:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.payment_method_id" readonly>
                    </div>
                    <div class="form">
                      <label class="form-label fw-bold">Ngày tạo đơn hàng:</label>
                      <input type="text" class="form-control" [value]="selectedOrder.createdAt | date:'dd/MM/yyyy HH:mm'" readonly>
                    </div>
                  </form>
                </div>
              </div>
  
              <div *ngIf="selectedOrder" class="card">
                <div class="card-body">
                  <h5 class="card-title">Chi tiết đơn hàng</h5>
                  <table class="table table-bordered table-hover text-center">
                    <thead>
                      <tr>
                        <th>Trạng thái</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th class="text-end">Giá tiền (Đơn hàng)</th>
                        <th class="text-end">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let orderItem of selectedOrder.items">
                        <td>
                          <select class="form-control" [(ngModel)]="orderItem.status" name="status">
                            <option [value]="'Chờ xác nhận'">Chờ xác nhận</option>
                            <option [value]="'Đã xác nhận'">Đã xác nhận</option>
                            <option [value]="'Đang giao'">Đang giao</option>
                            <option [value]="'Hoàn thành'">Hoàn thành</option>
                            <option [value]="'Đã giao hàng thành công'">Đã giao hàng thành công</option>
                            <option [value]="'Đã hủy'">Đã hủy</option>
                          </select>
                        </td>
                        <td class="align-middle">{{ orderItem.name }}</td>
                        <td class="align-middle">{{ orderItem.quantity }}</td>
                        <td class="text-end align-middle">{{ orderItem.price | number }} đ</td>
                        <td class="text-end align-middle">{{ orderItem.quantity * orderItem.price | number }} đ</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="4" class="text-end">Tổng cộng:</th>
                        <th class="text-end">{{ getTotalPrice() | number }} đ</th>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="d-flex justify-content-between">
                    <a [routerLink]="['/admin/orders']" class="btn btn-outline-primary btn-sm custom-btn">
                      <i class="bi bi-pencil-square"></i> Quay lại
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  