<!-- 
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title class="text-center">Quản Lý Sản Phẩm</mat-card-title>

      <table class="table table-striped table-hover custom-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Hình Ảnh</th>
            <th scope="col">Tên Sách</th>
            <th scope="col">Tác Giả</th>
            <th scope="col">Giá</th>
            <th scope="col">Danh Mục</th>
            <th scope="col" class="text-center">Thao Tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of dataSource; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img [src]="book.images" alt="{{ book.title }}" class="img-thumbnail" width="60">
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price | currency:'VND' }}</td>
            <td>{{ book.categoryName }}</td>
            <td class="text-center">
              <div class="btn-group" role="group">
                <a [routerLink]="['/admin/edit-product', book.productId]" mat-stroked-button class="btn btn-outline-primary btn-sm">Sửa</a>

                <button (click)="deleteProduct(book.productId)" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash"></i> Xóa
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card> -->