<div class="container my-5">
  <div>
    <a routerLink="/orders" class="btn btn-primary">🛍 Xem đơn hàng</a>
  </div>
  
  <h2 class="text-center">🛒 Giỏ hàng của bạn</h2>

  <table class="table table-bordered text-center mt-4">
    <thead>
      <tr>
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="cartItems.length > 0; else emptyCart">
        <tr *ngFor="let item of cartItems; let i = index">
          <td><img [src]="item.product.images" alt="{{ item.product.title }}" width="50" /></td> 
          <td>{{ item.product.title }}</td>
          <td>{{ formatPriceVN(item.product.price) }}</td>
          <td>
            <button (click)="decreaseQuantity(i)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="increaseQuantity(i)">+</button>
          </td>
          <td>{{ formatPriceVN(item.product.price * item.quantity) }}</td>
          <td>
            <button (click)="removeItem(i)" class="btn btn-danger">Xóa</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #emptyCart>
    <p>Giỏ hàng của bạn hiện đang trống.</p>
  </ng-template>

  <div class="cart-total text-right mt-4">
    <h3>Tổng tiền: {{ formatPriceVN(getTotalPrice()) }}</h3>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <div class="mt-4">
      <form action="/cart/clear" method="post">
        <button type="submit" class="btn btn-warning">❌ Xóa toàn bộ giỏ hàng</button>
      </form>
    </div>
    <button routerLink="/checkout" class="btn btn-success btn-lg">💳 Thanh Toán</button>
  </div>
</div>
