<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title fw-bold text-center">Quản Lý Loại Sản Phẩm</h4>
          <div class="table-responsive">
            <table class="table table-striped table-hover custom-table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Hoạt động</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of list">
                  <td>{{ element.categoryId }}</td>
                  <td>{{ element.categoryName }}</td>
                  <td class="text-center">
                    <select
                      class="form-select form-select-sm fw-bold text-center w-auto"
                      [ngClass]="element.status == 1 
                        ? 'bg-light-success' 
                        : 'bg-light-danger text-danger'"
                      [(ngModel)]="element.status">
                      <option [ngValue]="1">Hiện</option>
                      <option [ngValue]="0">Ẩn</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <div class="btn-group" role="group">
                      <button
                        [routerLink]="['/admin/categories/edit' , element.categoryId]"
                        mat-stroked-button
                        class="btn btn-primary">Sửa</button>
                      <button
                      class="btn btn-danger ms-2"
                        (click)="openDialog(element.categoryId, element.categoryName)">
                        <i class="bi bi-trash"></i> Xóa
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
