<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Sửa Thông Tin Người Dùng</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form>
        <div class="row">
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Họ và Tên</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Nhập họ và tên" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="email" placeholder="Nhập email"/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Mật Khẩu (Mới nếu muốn đổi)</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Nhập mật khẩu mới" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Vai Trò</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select>
                <mat-option value="admin">Quản trị viên</mat-option>
                <mat-option value="user">Người dùng</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Số Điện Thoại</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="tel" placeholder="Nhập số điện thoại" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Địa Chỉ</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <textarea matInput placeholder="Nhập địa chỉ"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="m-t-12">
            <a class="btn btn-primary m-r-8">Lưu thay đổi</a>
            <a [routerLink]="['/admin/users']"  class="btn btn-danger m-r-8">Hủy</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  