<div class="container custom-container">
    <div class="card card-body">
      <h1 class="text-center">Lấy lại mật khẩu</h1>
  
      <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" class="custom-form">
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" required placeholder="Nhập email..." />
        </div>
  
        <button class="btn btn-outline-dark rounded-0 px-4 mt-3" type="reset">Nhập lại</button>
        <button class="btn btn-dark rounded-0 px-4 mt-3" type="submit" [disabled]="forgotForm.invalid">Lấy lại mật khẩu</button>
      </form>
  
      <a routerLink="/login" class="text-dark text-decoration-none">Đã có tài khoản? Đăng nhập</a>
    </div>
</div>
  