<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form-container">
  <div class="card product-card">
    <div class="card-body">
      <h3 class="card-title m-b-0">Thêm sản phẩm</h3>

      <div class="form-group">
        <label for="title">Tiêu đề</label>
        <input formControlName="title" id="title" placeholder="Tiêu đề" required class="form-control" />
        <div *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched" class="text-danger">
          Tiêu đề là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="author">Tác giả</label>
        <input formControlName="author" id="author" placeholder="Tác giả" class="form-control" />
        <div *ngIf="productForm.get('author')?.invalid && productForm.get('author')?.touched" class="text-danger">
          Tác giả là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="publisher">Nhà xuất bản</label>
        <input formControlName="publisher" id="publisher" placeholder="Nhà xuất bản" class="form-control" />
        <div *ngIf="productForm.get('publisher')?.invalid && productForm.get('publisher')?.touched" class="text-danger">
          Nhà xuất bản là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Giá</label>
        <input formControlName="price" id="price" placeholder="Giá" type="number" class="form-control" />
        <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
          Giá là bắt buộc và phải là số.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Mô tả dài</label>
        <textarea formControlName="description" id="description" placeholder="Mô tả dài" class="form-control"></textarea>
        <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="text-danger">
          Mô tả dài là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="shortDescription">Mô tả ngắn</label>
        <textarea formControlName="shortDescription" id="shortDescription" placeholder="Mô tả ngắn" class="form-control"></textarea>
        <div *ngIf="productForm.get('shortDescription')?.invalid && productForm.get('shortDescription')?.touched" class="text-danger">
          Mô tả ngắn là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="publicationDate">Ngày xuất bản</label>
        <input formControlName="publicationDate" id="publicationDate" type="date" class="form-control" />
        <div *ngIf="productForm.get('publicationDate')?.invalid && productForm.get('publicationDate')?.touched" class="text-danger">
          Ngày xuất bản là bắt buộc.
        </div>
      </div>

      <div class="form-group">
        <label for="category">Danh mục</label>
        <select id="category" class="form-control" formControlName="categoryId" required>
          <option value="">-- Chọn danh mục --</option>
          <option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.categoryName }}
          </option>
        </select>
        
        <div *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched" class="text-danger">
          Vui lòng chọn một danh mục.
        </div>
      </div>
      

      <div class="form-group">
        <label for="file">Hình ảnh sản phẩm</label>
        <input type="file" id="file" (change)="onFileChange($event)" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Thêm sản phẩm</button>
    </div>
  </div>
</form>
