<div class="container mt-4">
  <div class="card p-4 shadow rounded-3">
    <h4 class="text-center">Sửa Thông Tin Người Dùng</h4>

    <form [formGroup]="fromData" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Họ và Tên</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nhập họ và tên" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Nhập email" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label">Mật Khẩu (Mới nếu muốn đổi)</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu mới" readonly/>
      </div>

      <div class="mb-3">
        <label class="form-label">Chọn Quyền</label>
        <select class="form-control" formControlName="role">
          <option value="0">Admin</option>
          <option value="1">Người Dùng</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Số Điện Thoại</label>
        <input type="tel" class="form-control" formControlName="phoneNumber" placeholder="Nhập số điện thoại" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label">Địa Chỉ</label>
        <textarea class="form-control" formControlName="address" placeholder="Nhập địa chỉ"></textarea>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" >Lưu thay đổi</button>
        <a [routerLink]="['/admin/users']" class="btn btn-danger">Hủy</a>
      </div>
    </form>
  </div>
</div>
