<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold text-center">Quản Lý Đơn Hàng</h4>
                    <div class="table-responsive">
                        <div class="custom-table-container">
                            <table class="table table-striped table-hover custom-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Khách hàng</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Ngày đặt</th>
                                        <th scope="col">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of list; let i = index">
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.name }}</td>
                                        <td>{{ formatCurrency(order.total_price) }}</td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="order.status" (change)="updateStatus(order)">
                                                <option *ngFor="let status of getValidStatuses(order.status)" [value]="status">
                                                  {{ status }}
                                                </option>
                                              </select>                                                                                       
                                        </td>
                                        <td>{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                                        <td>
                                            <div class="list" role="group">
                                                <a [routerLink]="['/admin/orders_detail', order.id]" class="btn btn-outline-primary btn-sm custom-btn">
                                                    <i class="bi bi-pencil-square"></i> Xem
                                                  </a>                                                  
                                                  <button (click)="deleteOrder(order)" class="btn btn-outline-danger btn-sm custom-btn">
                                                    <i class="bi bi-trash"></i> Hủy đơn
                                                  </button>                                                  
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>