<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Sửa Thông Tin Sản Phẩm</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="fromData" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Tên Sản Phẩm</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Nhập tên sản phẩm" formControlName="tensanpham" />
              <span class="text-danger" *ngIf="tensanpham?.invalid && (tensanpham?.dirty || tensanpham?.touched)"> Vui lòng nhập tên sách hợp lệ</span>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Tác Giả</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Nhập tên tác giả"
                formControlName="tacgia" />
              <span class="text-danger"
                *ngIf="tacgia?.invalid && (tacgia?.dirty || tacgia?.touched)">
                Vui lòng nhập tên tác giả hợp lệ
              </span>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Nhà Xuất Bản</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Nhập tên nhà sản xuất" formControlName="nhasanxuat" />
              <span class="text-danger" *ngIf="nhasanxuat?.invalid && (nhasanxuat?.dirty || nhasanxuat?.touched)"> Vui lòng nhập tên sách hợp lệ</span>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Giá</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="number" placeholder="Nhập giá sản phẩm" formControlName="gia" />
              <span class="text-danger" *ngIf="gia?.invalid && (gia?.dirty || gia?.touched)"> Vui lòng nhập tên sách hợp lệ</span>
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Hình Ảnh</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="text" placeholder="Nhập URL hình ảnh" formControlName="images" />
              <span class="text-danger"
                *ngIf="images?.invalid && (images?.dirty || images?.touched)">
                Vui lòng chọn hình ảnh
              </span>
            </mat-form-field>
          </div>
  
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Danh Mục</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="danhmuc">
                <mat-option value="electronics">Điện tử</mat-option>
                <mat-option value="fashion">Thời trang</mat-option>
                <mat-option value="home">Đồ gia dụng</mat-option>
                <mat-option value="books">Sách</mat-option>
              </mat-select>
              <span class="text-danger" *ngIf="danhmuc?.invalid && (danhmuc?.dirty || danhmuc?.touched)"> Vui lòng nhập tên sách hợp lệ</span>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Số Lượng</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="number" placeholder="Nhập số lượng" formControlName="soluong" />
              <span class="text-danger" *ngIf="soluong?.invalid && (soluong?.dirty || soluong?.touched)"> Vui lòng nhập tên sách hợp lệ</span>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Mô Tả Ngắn</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <textarea matInput placeholder="Nhập mô tả sản phẩm" formControlName="motangan"></textarea>
              <span class="text-danger" *ngIf="motangan?.invalid && (motangan?.dirty || motangan?.touched)">
                Vui lòng nhập mô tả ngắn
              </span>
            </mat-form-field>
          </div>

        </div>
        <div class="m-t-12">
            <button type="submit" class="btn btn-primary m-r-8" [disabled]="!fromData.valid">Lưu thay đổi</button>
            <a [routerLink]="['/admin/product']"  class="btn btn-danger m-r-8">Hủy</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  