<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Sửa Thông Tin Người Dùng</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="fromData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Họ và Tên</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Nhập họ và tên"
              formControlName="name" />
            <span class="text-danger" name
              *ngIf="name?.invalid && (name?.dirty || name?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="email" placeholder="Nhập email"
              formControlName="email" />
            <span class="text-danger" name
              *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mật Khẩu (Mới nếu muốn
            đổi)</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="password" placeholder="Nhập mật khẩu mới"
              formControlName="password" />
            <span class="text-danger" name
              *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Vai Trò</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="vaitro">
              <mat-option value="admin">Quản trị viên</mat-option>
              <mat-option value="user">Người dùng</mat-option>
            </mat-select>
            <span class="text-danger" name
              *ngIf="vaitro?.invalid && (vaitro?.dirty || vaitro?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Số Điện Thoại</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="tel" placeholder="Nhập số điện thoại"
              formControlName="phone" />
            <span class="text-danger" name
              *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Địa Chỉ</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput placeholder="Nhập địa chỉ"
              formControlName="address"></textarea>
            <span class="text-danger" name
              *ngIf="address?.invalid && (address?.dirty || address?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="m-t-12">
        <button class="btn btn-primary m-r-8" [disabled]="!fromData.valid">Lưu
          thay đổi</button>
        <a [routerLink]="['/admin/users']" class="btn btn-danger m-r-8">Hủy</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
