<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Thêm Sách Mới</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="fromData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tên Sách</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Nhập tên sách"
              formControlName="tensach" />
            <span class="text-danger"
              *ngIf="tensach?.invalid && (tensach?.dirty || tensach?.touched)">
              Vui lòng nhập tên sách hợp lệ
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tác Giả</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Nhập tên tác giả"
              formControlName="tacgia" />
            <span class="text-danger"
              *ngIf="tacgia?.invalid && (tacgia?.dirty || tacgia?.touched)">
              Vui lòng nhập tên tác giả hợp lệ
            </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Nhà Xuất Bản</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Nhập tên nhà xuất bản" formControlName="publisher" />
            <span class="text-danger"
              *ngIf="publisher?.invalid && (publisher?.dirty || publisher?.touched)">
              Vui lòng nhập nhà xuất bản
            </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Giá</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="number" placeholder="Nhập giá sách"
              formControlName="gia" />
            <span class="text-danger"
              *ngIf="gia?.invalid && (gia?.dirty || gia?.touched)">
              Giá phải là số và không được để trống
            </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Số Lượng</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="number" placeholder="Nhập số lượng"
              formControlName="soluong" />
            <span class="text-danger"
              *ngIf="soluong?.invalid && (soluong?.dirty || soluong?.touched)">
              Số lượng phải lớn hơn 0
            </span>
          </mat-form-field>
        </div>
        
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Hình Ảnh</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" placeholder="Nhập URL hình ảnh" formControlName="images" />
            <span class="text-danger"
              *ngIf="images?.invalid && (images?.dirty || images?.touched)">
              Vui lòng chọn hình ảnh
            </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Ngày Xuất Bản</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="date" formControlName="publicationDate" />
            <span class="text-danger"
            *ngIf="publicationDate?.invalid && (publicationDate?.dirty || publicationDate?.touched)">
            Vui lòng chọn hình ảnh
          </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Danh Mục</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="danhmuc">
              <mat-option value="fiction">Tiểu thuyết</mat-option>
              <mat-option value="science">Khoa học</mat-option>
              <mat-option value="history">Lịch sử</mat-option>
              <mat-option value="self-help">Phát triển bản thân</mat-option>
            </mat-select>
            <span class="text-danger" *ngIf="danhmuc?.invalid && (danhmuc?.dirty || danhmuc?.touched)">
              Vui lòng chọn danh mục
            </span>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mô Tả Ngắn</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput placeholder="Nhập mô tả sách" formControlName="motangan"></textarea>
            <span class="text-danger" *ngIf="motangan?.invalid && (motangan?.dirty || motangan?.touched)">
              Vui lòng nhập mô tả ngắn
            </span>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mô Tả Chi Tiết</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput placeholder="Nhập mô tả chi tiết" formControlName="description"></textarea>
            <span class="text-danger" *ngIf="description?.invalid && (description?.dirty || description?.touched)">
              Vui lòng nhập mô tả chi tiết
            </span>
          </mat-form-field>
        </div>

      </div>
      <div class="m-t-12">
        <button type="submit" class="btn btn-primary m-r-8"
          [disabled]="!fromData.valid">Thêm Sách</button>
        <a [routerLink]="['/admin/product']"
          class="btn btn-danger m-r-8">Hủy</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
