<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Thêm Sách Mới</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tên Sách</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Nhập tên sách" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tác Giả</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Nhập tên tác giả" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Giá</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="number" placeholder="Nhập giá sách" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Danh Mục</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select>
              <mat-option value="fiction">Tiểu thuyết</mat-option>
              <mat-option value="science">Khoa học</mat-option>
              <mat-option value="history">Lịch sử</mat-option>
              <mat-option value="self-help">Phát triển bản thân</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Số Lượng</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="number" placeholder="Nhập số lượng" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mô Tả</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput placeholder="Nhập mô tả sách"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="m-t-12">
        <a class="btn btn-primary m-r-8">Thêm Sách</a>
        <a [routerLink]="['/admin/product']"
          class="btn btn-danger  m-r-8">Hủy</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>