<mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="container mt-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title fw-bold">Quản Lý Bình Luận</h3>
            <div class="table-responsive">
              <table class="table table-striped table-hover custom-table">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Người dùng</th>
                    <th>Tên sản phẩm</th>
                    <th>Nội dung</th>
                    <th>Ngày bình luận</th>
                    <th>Ngày cập nhật</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let comment of comments">
                    <td>{{ comment.commentId }}</td>
                    <td>{{ comment.user.name }}</td>
                    <td>{{ comment.product.title }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ comment.updatedAt | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  