<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title fw-bold">Quản Lý Bình Luận</h3>

          <div class="table-responsive">
            <table class="table table-striped table-hover custom-table">
              <thead class="thead-dark text-center">
                <tr>
                  <td>ID</td>
                  <th>Người Dùng</th>
                  <th>Tên Sản Phẩm</th>
                  <th>Nội dung</th>
                  <th>Ngày</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of comments">
                  <td>{{ comment.commentId }}</td>
                  <td>{{ comment.User?.name }}</td> 
                  <td>{{ comment.Product?.title }}</td> 
                  <td class="text-start">{{ comment.content }}</td>
                  <td>{{ comment.createdAt | date: 'dd/MM/yyyy' }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
