<mat-card class="cardWithShadow">
    <mat-card-content>
      <form>
        <H4 class="text-center">Chỉnh sửa loại sản phẩm</H4>
        <div class="mb-3">
          <label for="categoryName">Tên danh mục</label>
          <input type="text" id="categoryName" class="form-control" [(ngModel)]="category.name" name="name" required />
        </div>
  
        <div class="mb-3">
          <label for="status">Trạng thái</label>
          <select id="status" class="form-control" [(ngModel)]="category.status" name="status">
            <option value="hiện">Hiện</option>
            <option value="ẩn">Ẩn</option>
          </select>
        </div>
  
        <button type="button"  [routerLink]="['/admin/categories']" class="btn btn-primary" (click)="onSave()">Lưu</button>
        <button  [routerLink]="['/admin/categories']" type="button" class="btn btn-danger ms-2" (click)="onCancel()">Hủy</button>
      </form>
    </mat-card-content>
  </mat-card>
  