<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<footer class="footer">
    <div class="container">
        <div class="column">
            <h6>FASHION STORE</h6>
            <p style="text-align: justify;">Book Store cung cấp các loại sách đa dạng, từ văn học, khoa học đến sach
                tiểu thuyết
                ,giúp khách
                hàng thỏa sức khám phá tri thức và nuôi dưỡng đam mê đọc sách.</p>
        </div>
        <div class="column">
            <h6 style="text-align:justify;">Sản phẩm</h6>
            <ul >
                <li><a href="#">Áo thun</a></li><br>
                <li><a href="#">Áo khoác</a></li><br>
                <li><a href="#">Quần jean</a></li><br>
                <li><a href="#">Áo polo</a></li>
            </ul>
        </div>
        <div class="column">
            <h6>Liên hệ</h6>
            <ul style="text-align:justify">
                <li><i></i> Toà nhà FPT Polytechnic, phường Thường Thạnh, quận Cái Răng, TP Cần Thơ;</li>
                <li><i class="fas fa-envelope"></i>phuc628780gmail.com</li>
                <li><i class="fas fa-phone"></i> + 0379 169 731</li>
            </ul>
        </div>
        <div class="column">
            <h6>Theo dõi chúng tôi trên</h6>
            <div class="social-icons row g-1">
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>        
    </div>
</footer>


